* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: black
}

button {
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    color: yellow;
}

.game-selection {
    background-color: red;
    color: white;
    width: 100%;
}

.quiz-container {
    font-size: 2rem;
    grid-template-rows: auto;
}

@media screen and (max-width: 760px) {
        
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    }
}