* {
  background-color: black;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif
}

button {
  background-color: red;
  border: 10px solid white;
  color: white;
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  transition: transform .2s;
  width: 400px;
  height: 80px;
  justify-content: center;

}

button:hover {
  transform: scale(1.1)
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.home-item {
  max-width: 100%;
  height: auto;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: left;
  margin-top: 1%;
  animation: reverse;
  animation-duration: 3s;
}

.pickgame {
  display: grid;
  justify-items: center;
  position: relative;
  text-align: center;
}

.pagitem {
  max-width: auto;
  height: 60px;
  font-size: 4rem;
  text-decoration: none;
  text-align: center;
  color: white;
}

.header {
  display: grid;
}

.header-link {
  grid-row: 1 / span 1;
  text-align: center;
}