* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #040303;
}

button {
    color: #ffffff;
}

.quiz-button {
    color: #FFEB67;
    background-color: #3F3E3E;
    width: 400px;
    height: 180px;
    font-size: 35px;
}

.heading {
    font-size: 25px;
    color: #F79E55;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.heading:hover {
    color: #FFFF00;
}

.answer-button {
    margin-top: 20px;
    color: white;
    font-style: oblique;
    background-color: black;
    width: 325px;
    height: 175px;
    font-size: 25px;
}

.main-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-items: center;
    color: yellow;
}

.game-selection {
    margin-top: 5%;
    color: white;
    width: 80%;
}

.quiz-container {
    display: grid;
    margin-left: 45px;
    font-size: 2rem;
    grid-template-rows: auto;
}

.quote {
    color: red;
    font-size: 50px;

}

@media screen and (max-width: 760px) {
        
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    }
}

